.detail-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-image {    
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 300px;
    position: relative;
}

.detail-info-texts {
    align-self: flex-start;
}

.detail-text {
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em 0;
}

.detail-like {
    display: flex;
    align-items: cenrter;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 2cm;
}

.detail-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 10px;
}

.detail-button {
    padding: 10px 20px;
    background-color: #292a2b;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.detail-button:hover {
    background-color: #f3f4f5;
    color: #292a2b;
}

.like-button {
    background-color: #ff6b81;
}

.like-button:hover {
    background-color: #fff;
    color: #ff6b81;
}
